<header class="myheader">
      <a href="/"><img src="/Assets/Images/careerlogo.png" alt="career fair" class="careerlogo"></a>
      
        <div class="header-right">
          <div class="border">
            <a href="/newConnection">Start a New Connection</a>
            <a href="/logout?action=logout">Sign Out</a>
            <a href="/savedConnections">My Connections</a>
          </div>
        </div>

    </header>
