<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>US Career Fair</title>
    <link rel="stylesheet" type="text/css" href="Assets/Stylesheets/homepage.css">
    <link rel="stylesheet" type="text/css" href="Assets/Stylesheets/header.css">
    <link rel="stylesheet" type="text/css" href="Assets/Stylesheets/navigation.css">
    <link rel="stylesheet" type="text/css" href="Assets/Stylesheets/footer.css">
  </head>
  <body>

        <% include ./partials/newConnheader.ejs %>
        <% include ./partials/navigation.ejs %>
        <div class="content">
          <h1>About Us</h1>
            <br>
          <p class="contentpara">Career fairs give organizations the opportunity to directly recruit candidates. Fairs are the largest events we hold each year, drawing hundreds or thousands of candidates.</p><br>

<p class="contentpara">These events are designed to give organizations the opportunity to promote brand awareness and meet students in a setting that is less structured than a career fair. We encourage students to attend these events to explore career fields and employers, gain professionalism skills, and learn about potential jobs and internships. Career Fairs have had more than 1 million job seekers attend career fairs over the last 19 years. Our career fairs have helped more people get hired through the events than any other company out there. If you’re looking for a job or a career, you have come to the right place.</p>

        </div>
        <% include ./partials/footer.ejs %>

  </body>
</html>
