<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>US Career Fair</title>
    <link rel="stylesheet" type="text/css" href="Assets/Stylesheets/mystyle.css">
  </head>
  <body>
    <!-- <header class="myheader">
      <a href="index.html"><img src="Images/careerlogo.png" alt="career fair" class="careerlogo"></a>
        <div class="header-right">
          <a  class="border">Start a new Connection</a>
          <a href="#Login" class="border">Log In</a>
          <a href="#SignUp">Sign Up</a>

        </div>
    </header> -->
        <!-- <div class="sidenav">
            <a href="index.html">About</a>
            <a href="connections.html">Events</a>
            <a href="#">Jobs</a>
            <a href="#">Contact</a>
        </div> -->
        <% include ./partials/header.ejs %>
        <% include ./partials/navigation.ejs %>
        <div class="content">
          <h1>404</h1>
          <h2>Page Not Found</h2>
        </div>
        <% include ./partials/footer.ejs %>
    <!-- <footer class="myfooter">
      <p>&copy; Developed by Pranay Jain</p>
    </footer> -->

  </body>
</html>
