.content {
    height: 626px;
    width: 95%;
    position: fixed;
    z-index: 1;
    padding-left: 50px;
    padding-right: 100px;
    top: 150px;
     left: 170px;
    background-color:#e6e6e6;
    overflow-x: hidden;
    overflow: auto !important;
}

.formdetails{
  margin-left: 200px;
  margin-top: 20px;
  font-size: 25px;
}

.btnCreate{
  margin: 10px;
  text-align: center;
  margin-left: 450px;
  padding: 10px 16px;
  font-size: 20px;
  margin-top: 40px;
  background-color: #5DADE2;
}
