.sidenav{
  height: 100%;
  width: 170px;
  top: 150px;
  position: fixed;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #A3E4D7;
}
.sidenav a{
  padding: 6px 8px 6px 13px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}
.sidenav a:hover {
  color: #F51B25;

}
